<div class=" margin-30px-bottom-insight">
  <div class=" xs-no-margin-lr">
    <!-- <h2>{{ faqs.title.rendered }}</h2> -->
    <div class="row remove-margin equalize sm-equalize-auto">
      <div class="col-md-12 col-sm-12 col-xs-12 display-table  wow fadeInUp">
        <div
          class="display-table-cell-vertical-middle md-padding-ten-all sm-padding-six-all xs-no-padding-tb xs-no-padding-lr quaterly-images-accordan"
        >
          <div
            class="panel-group accordion-style2"
            id="accordion"
            *ngIf="formHeading"
          >
            <div
              class="panel panel-default"
              *ngFor="let heading of formHeading.acf.heading; let i = index"
            >
              <div class="panel-heading">
                <a
                  class="accordion-toggle"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="javascript:void(0)"
                  (click)="getFormData(heading, $event, isfirst)"
                >
                  <!-- #collapseTwo-{{ i }} -->
                  <div class="panel-title year-post">
                    <!-- <span
                          class="alt-font font-weight-600 text-deep-pink tab-tag"
                          >0{{ i + 1 }}</span 
                      >-->
                    <!-- [ngClass]="{ active: selectedItem == heading }" -->
                    <span
                      class="accordion-heading xs-width-80 display-inline-block"
                      [innerHTML]="heading.headings"
                    ></span>
                    <div
                      class="indicator  pull-right"
                      [ngClass]="
                        heading == currentSubCate && isfirst
                          ? 'faq-minus'
                          : 'faq-plus'
                      "
                    ></div>
                  </div>
                </a>
              </div>
              <div
                id="collapseTwo-{{ i }}"
                class="panel-collapse collapse"
                [ngClass]="heading == currentSubCate && isfirst ? 'in' : 'none'"
                attr.aria-expanded="{{ isfirst }}"
              >
                <div class="panel-body">
                  <div class="repeat-loop" *ngIf="getFormPageData" >
                      <div class="form-page-data-wrapper" *ngFor='let category of categories'>
                        <h1 class="category">{{ category.category  }}</h1>
                        <p class="category conjunction" *ngIf="category.category == 'Important documents'">
                          The documents listed below must be read in conjunction with the minimum disclosure document before an application is made.
                        </p>
                        <ul class="form-page-data-list">
                          <li
                            *ngFor="
                              let subHeading of category.items
                            "
                          >
                          <div>
                            <div
                              class=" col-md-8 internal-data"
                              [innerHTML]="subHeading.title"
                            ></div>
                            <div class="col-md-4 right-side-icons">
                              <a [href]="subHeading.url" 
                                ><img
                                  src="./assets/images/form_view_icon.png"
                                  style="height:auto; width:auto; margin-right: 10px; margin-bottom:10px"
                              /></a>
                              <a [href]="subHeading.url" download
                                ><img
                                  src="./assets/images/form_download_icon.png"
                                  style="height:auto; width:auto; margin-bottom:10px"
                              /></a>
                            </div>
                          </div>
                          </li>
                        </ul>
                      </div>
                      <h1 class='category advisory'>{{this.getFormPageData[0].acf.advisory}}</h1>
                      <div *ngIf="openedCategory == 'Tax-free forms'">
                          <p class="tax-free-additional">The documents listed above must be read in conjunction with the minimum disclosure document before an application is made. Completed forms can be faxed to +(353) 1 553 9413. An original copy must be posted to:</p>
                          <p class="tax-free-additional info">
                            Kagiso Global Equity Fund
                          </p>
                          <p class="tax-free-additional info">
                            c/o Northern Trust
                          </p>
                          <p class="tax-free-additional info">
                            City East Plaza – Block A,
                          </p>
                          <p class="tax-free-additional info">
                            Towlerton,
                          </p>
                          <p class="tax-free-additional info">
                            Ballysimon Road,
                          </p>
                          <p class="tax-free-additional info">
                            Limerick,
                          </p>
                          <p class="tax-free-additional info">
                            Ireland V94 X2N9
                          </p>
                      </div>
                  </div>

                  <!-- {{ faq.answer_label }} -->
                </div>
              </div>
            </div>
            <!-- end tab content -->
          </div>
          <!-- <div class="padding-30px-top padding-30px-bottom text-center">
                  <a routerLink="/faq" class="more-btn">MORE</a>
                </div> -->
          <!-- <div class="col-md-12 text-center margin-40px-top margin-60px-bottom"><div class="suscribe "><a class="btn-meet-leaders" href="#" style="margin-right:20px;">PLATFORMS</a><a  class="btn-meet-leaders" href="#">INVESTMENT APPROACH</a></div></div> -->
        </div>
      </div>
    </div>
  </div>
</div>