<div
  class=" row padding-40px-tb bg-medium-gray-light margin-0px-top xs-padding-15px-top xs-no-padding-bottom xs-no-margin-top xs-padding-15px-lr margin-100px-lr xs-margin-15px-lr text-center adviser-image"
  *ngIf="imageTwo"
  [ngClass]="!imageTwo.insightStatus ? 'margin-100px-lr' : 'none'"
>
  <div
    class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom padding-0px-all wow fadeInLeft"
    data-wow-delay="0.6s"
    data-aos="fade-right"
    *ngFor="let fImagesecond of imageTwo.acf.financial_adviser_image_second"
  >
    <a  [target]="fImagesecond.url == '/up-quarterly' || fImagesecond.url == '/unit-trusts-annual-report' ? '_self' : '_blank'" [routerLink]="fImagesecond.url"
      ><img [src]="fImagesecond.second_image.url"
    /></a>
  </div>
</div>
