.blanced-fund{
	padding:200px;
}
.blanced-fund-box {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.nav-content {
  height: 45px; 
  display:flex;  
  color: black; 
  margin-top: 55px;
}
.nav-content ul {
  flex: 1 0 auto;
  padding: 0; 
  font-size: 14px; 
  display: inline-flex; 
  justify-content: flex-start; 
  align-items: center;
  list-style-type: none; 
  margin-bottom:0px;
}
.nav-content ul li {
  margin-right: 5px;
}
.top-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: white;
  margin-bottom: 5px;
  padding-left: 35px;
}

.top-content .blanced-fund-btn-list {
  margin: 0;
  padding: 0;
  width: 540px;
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: left;
  margin-top: 15px;
}


.top-content .blanced-fund-btn-list li {
  height: 45px;
  width: 165px;
  margin-top: 5px;
  margin-right: 5px;
  
}

ul .first-span{
  padding-right: 30px;
}

.blanced-fund-box .graph-box1 {
  border-right: 0px solid #d1d1d1;
}

.blanced-fund-box .graph-box1:after{
content: "";
  background-color: #E7E7E7;
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0px;
  left: 100%;
  display: block;}

.blanced-fund-box .graph-box {
  border-left: 4px solid #E7E7E7; 
}
.blanced-fund-box .graph-box .graph-content {
  margin: 0;
  padding: 0 0 15px 0;
  position: relative;
  width: 100%;
}
.blanced-fund-box .graph-box .graph-content .graph-img {
  width: 100%;
}
.blanced-fund-box .year-list {
  /*margin: 0 0 30px 0;*/
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 0; 
  padding-bottom: 30px;
}
.blanced-fund-box .year-list li {
  flex: 1 0 auto;
  margin: 0 40px 0 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
}
.blanced-fund-box .year-list li:last-child {
  margin-right: 0;
}
.blanced-fund-box .year-list li a {
  display: block;
  padding: 8px 10px;
  color: #656565;
  border: 1px solid #a8c3be;
  margin: 0;
  text-transform: uppercase;
}
.blanced-fund-box .year-list li.current a,
.blanced-fund-box .year-list li:hover a {
  background: #a8c3be;
  color: #656565;
  text-decoration: none;
}
.blanced-fund-box .return-list {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
  text-align: center;
  font-size: 0;
  display: flex;
}
.blanced-fund-box .return-list li {
  margin-right: 4.6px;
  padding: 0;
  flex: 1;
  font-size: 14px;
}
.blanced-fund-box .return-list li:last-child {
  margin-right: 0;
}
.blanced-fund-box .return-list li a {
  display: block;
  padding: 8px 2px;
  color: #656565;
  border: 2px solid #a8c3be;
  margin: 0;
  background: #a8c3be;
  text-transform: uppercase;
}
.blanced-fund-box .return-list li a span {
  font-weight:700;
}
.blanced-fund-box .return-list li a:hover {
  text-decoration: none;
}
.blanced-fund-box .graph-box .select-fund {
  margin: 0!important;
  padding: 0;
  width: 100%;
  text-transform: uppercase;
}
.blanced-fund-box .graph-box .select-fund select {
  padding: 10px;
    border-radius: 0!important;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  height: 49px;
  margin: 0!important;  
  background-color: transparent; 
}
.select-funds{padding:0px;border: 2px solid #a8c3be; width: 60%;}
/* .select {
  appearance:none;
  background: url(https://kagisonew.cotomo.com/assets/images/buttons-new/arrow_large_new_to_inv.png) no-repeat
    right;
} */

.blanced-fund-box .graph-box .select-fund span {
  padding: 12px;
  border: 2px solid #a8c3be;
  border-radius: 0!important;
  width: 100%;
  display: block;
  border-right: none;
  height: 53px;
}
.blanced-fund-box ul.fund-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blanced-fund-box ul.fund-tabs li {
  background: #fff;
  color: #656565;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  margin: 0 10px;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}
.blanced-fund-box ul.fund-tabs li:first-child {
  margin-left: 0;
}
.blanced-fund-box ul.fund-tabs li.current {
  background: #fff;
  color: #b60c2f;
  border-bottom: 2px dotted #b60c2f;
}
.blanced-fund-box .fund-tab-content {
  display: none;
  background: #fff;
  padding: 15px 0;
  color: #656565;
}
.blanced-fund-box .fund-tab-content .red {
  color: #b60c2f;
}
.blanced-fund-box .fund-tab-content.current {
  display: inherit;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blanced-fund-box .return-list li a {
    font-size: 12px;
    padding: 8px 2px;
  }
}
@media (max-width: 991px) {
  .blanced-fund-box .year-list {
    text-align: center;
  }
  .blanced-fund-box .graph-box {
    padding: 30px 15px;
    border-left: none;
    border-top: 5px solid #ccc;
  }
}
@media (max-width: 767px) {
  .blanced-fund-box .year-list li {
    margin: 0 5px;
  }
  .blanced-fund-box .return-list li {
    margin: 5px;
  }
}

.fund-img-box {
  margin: 0;
  padding: 0;
  border-top: #e7e7e7 4px solid;
}
.fund-img-box ul {
  list-style-type: none;
  position: relative;
  width: 100%;
  padding: 45px 220px;
  margin: 0;
}
.fund-img-box ul li {
  float: left;
}
.fund-img-box ul li .img-box {
  margin: 0;
  padding: 0;
}
.fund-img-box ul li .img-box img {
  width: 100%;
  max-width: 100%;
}
.fund-img-box ul li .title {
  background: #e3edec;
  padding: 10px;
  color: #656565;
  text-transform: uppercase;
    width: 150px;
    font-size: 14px
}

.blanced-fund-btn .btn-meet-leaders {
  font-size: 16px;
}


/* .width {
  flex-direction: row;
  justify-content: space-between;
} */
/* .blanced-fund-btn-list li {
  display: inline;
  margin: 4px 0;
} */
.blanced-fund-btn-list li a.red {
  background: url("../../../../assets/images/red-arrow-icon.jpg") no-repeat
    right;
}

a.btn-invest-now-red span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #e9c2c9;
    font-size: 12px;
    color: #656565;
    font-weight: 500;
    height: 40px;
    padding-left: 10px;
}
a.btn-invest-now-red span:hover{
    background: #d98b9c;
    color: #333;
}
a.btn-invest-now-red{
    display: inline-block;
    background: #b30b2e url(https://kagisonew.cotomo.com/assets/images/buttons-new/buttons_more1.png) no-repeat right center;
    padding-right: 50px;
    margin-top: 5px;
    width: 165px;
}
a.btn-invest-now-green span{
    /* padding: 10px 40px 10px 20px; */
    display: flex;
    align-content: flex-start;
    align-items: center;
    background: #c5dad7;
    font-size: 12px;
    color: #656565;
    font-weight: 500;
    height: 40px;
    padding-left: 10px
}
a.btn-invest-now-green span:hover{
    background: #c5d9e2;
    color: #333;
}
a.btn-invest-now-green{
    display: inline-block;

    background: #8abbb6 url(https://kagisonew.cotomo.com/assets/images/buttons-new/buttons_more1.png) no-repeat right center;
    margin-top: 5px;
    padding-right: 50px;
    width: 165px;
    height: 40px;
}

.link-img-box{
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover!important;
}
.btn-tax-free .link-img-box{
  background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-forms.jpg) no-repeat;
}
.btn-top-10-holdings .link-img-box{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-forms.jpg) no-repeat;
}
.btn-form .link-img-box{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-forms.jpg) no-repeat;
}
.btn-platforms .link-img-box{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-forms.jpg) no-repeat;
}

.btn-tax-free .link-img-box:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-tree.jpg) no-repeat;
}
.btn-top-10-holdings .link-img-box:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-tree.jpg) no-repeat;
}
.btn-form .link-img-box:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-tree.jpg) no-repeat;
}
.btn-platforms .link-img-box:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/blanced-fund-tree.jpg) no-repeat;
}

.btn-green-white{
    display: inline-block;
    padding-left: 60px;
    margin:0 10px;
    background-size:60px!important;
}
.btn-green-white span{
    padding: 5px 30px;
    height: 50px;
    text-align: left;
    display: inline-block;
    background: #fff;
    color: #656565;
    font-weight: 500;
    width: 200px;
    line-height: 20px;
    
}
.btn-green-white span:hover{
    background: #c8dbe5;
}
.btn-investment-approch{
    background: url(https://kagisonew.cotomo.com/assets/images/meet-leader-btnbg.jpg) left center no-repeat #80ada7;
}
.btn-meet-fund-manager1{
    background: url(https://kagisonew.cotomo.com/assets/images/meet-leader-btnbg.jpg) left center no-repeat #80ada7;
}
.btn-meet-insights{
    background: url(https://kagisonew.cotomo.com/assets/images/meet-leader-btnbg.jpg) left center no-repeat #80ada7;
}
.btn-investment-approch:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/meet-leader-btnbg-hover.jpg) left center no-repeat #5b9dbe;
}
.btn-meet-fund-manager1:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/meet-leader-btnbg-hover.jpg) left center no-repeat #5b9dbe;
}
.btn-meet-insights:hover{
    background: url(https://kagisonew.cotomo.com/assets/images/meet-leader-btnbg-hover.jpg) left center no-repeat #5b9dbe;
}

/* --------------- Mobile CSS ---*/
@media screen and (max-width: 480px) {
    .blanced-fund-btn-list li{
        display: inline-block;
        margin: 15px 5px 0px;
    }
    .blanced-fund-btn-list{
        margin: 0;
        padding: 0;
        float: none;
        background: #fff;
    }
    .blanced-fund-box .graph-box{
        padding: 20px 40px;
        border-left: none;
        border-top: 5px solid #e7e7e7;
    }
    .blanced-fund-box .year-list{
        margin: 0 0 0px 0;
    }
    .blanced-fund-box .year-list li{
        margin: 5px 5px;
    }
    .blanced-fund-box .graph-box .select-fund span{
        border-right: 1px solid #a8c3be;
        font-size: 16px;
        border-radius: 0!important;
    }
    .blanced-fund-box .graph-box .select-fund select{
        margin-left: -10px;
        margin-top: 20px;
        font-size: 16px;
        border-radius: 0!important;
    }
    .fund-img-box ul li{
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    .title{
        width: 100%!important;
    }
    .fund-img-box ul{
        padding: 45px;
    }
    .link-img-box{
        width: 100%;
        height: 260px;
    }
    .blanced-fund-btn a{
        display: block;
        margin-bottom: 20px;
    }
    .btn-green-white span{
        font-size: 16px;
    }
}
