.footer-media-icon {
  font-size: 30px;
}
.footer-media-icon:hover {
  font-size: 30px;
  color: #B5B5B5;
  font-weight: unset;
}

input.more-btn {
  width: 175px;
}

@media screen and (max-width:991px) {
  .footer-logo {
    max-height: unset;
  }
  .footer-logo > img {
    max-width: 50%;
  }
  
  .footer-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content.copyright {
    width: 70%;
    margin: 0 auto;
  }

  .footer-content > .footer-title,
  .footer-content > .footer-text {
    width: 100%;
    padding-left: 60px;
  }
  
  .footer-content > .footer-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
  .footer-content > .footer-title,
  .footer-content > .footer-text {
    padding-left: 90px;
  }
  .footer-logo > img {
    /* max-width: 35%; */
  }
}

@media screen and (min-height: 1025px) {

  .footer-content > .footer-title,
  .footer-content > .footer-text {
    padding-left: 0;
  }

  .footer-logo > img {
    max-width: 100%;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .footer-content > .footer-title,
    .footer-content > .footer-text {
      padding-left: 0;
    }
}