.unconventional-thinking-right a{
	display: block;
	height: 100%;
}

.green-image-holder {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 20px;
	height: 100%;
}

.green-image-holder .green-image {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}