.container {
  padding-left: 0px !important;
}

@media screen and (max-width: 991px) {
  .sharia-certificate {
    margin-left: -15px;
    margin-right: -15px;
  }
  .sharia-certificate-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .sharia-certificate-inner > .col-md-4 {
    margin-bottom: 30px;
  }

  .financial-adviser-bottom-images,
  .financial-adviser-bottom-images-inner {
    margin-left: 0;
    margin-right: 0;
  }

  .financial-adviser-bottom-images-inner-img {
    width: 100%;
  }
}