.container {
  padding-left: 0px !important;
}

@media screen and (max-width: 480px) {
  .sharia-certificate {
    margin-left: -15px;
    margin-right: -15px;
  }
  .sharia-certificate-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .sharia-certificate-inner > .col-md-4 {
    margin-bottom: 30px;
  }


  .financial-adviser-bottom-images,
  .financial-adviser-bottom-images-inner {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .financial-adviser-bottom-images-inner {
    padding-top: 15px;
  }

  .financial-adviser-bottom-images-inner-img {
    width: 100%;
  }
}



@media screen and (max-width: 991px) {
  /* .sharia-certificate {
    margin-left: -15px;
    margin-right: -15px;
  }
  .sharia-certificate-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .sharia-certificate-inner > .col-md-4 {
    margin-bottom: 30px;
  }

  .financial-adviser-bottom-images {
    margin-left: -15px;
    margin-right: -15px;
  }

  .financial-adviser-bottom-images,
  .financial-adviser-bottom-images-inner {
    margin-left: 0;
    margin-right: 0;
  }

  .financial-adviser-bottom-images-inner-img {
    width: 100%;
  } */
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .sharia-certificate-inner > .col-md-4 {
    margin-bottom: 30px;
  }

  .financial-adviser-bottom-images {
    padding: 0;
  }

  .financial-adviser-bottom-images-inner {
    margin: 0;
  }

  .sharia-bottom-frequently {
    margin-left: 0;
    margin-right: 0;
  }
}