.article-component-wrapper {
  padding: 20px 40px;
}

.top-content {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 5px;
}

.top-content h2 {
    padding: 0px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 0px;

  }
.top-content p {
  font-style: italic;
  margin-right: 30px;
  text-align: right;
  margin-bottom: 0px;
}

.content {
    display: flex;
    margin-bottom: 5px;
} 

.inner-content {
  display: flex; 
  flex-direction: row;
}

.inner-content-photo {
  margin-right: 2px;
  width: 25%;
}

.inner-content-text {
  flex: 1
}

.inner-content-bottom {
  height: auto; 
  margin-top: 5px;
  display: flex; 
  flex-direction: row;
}

.inner-content-bottom .inner-content-text-box {
  display: flex;
  flex: 1;
  justify-content: center;
}
.inner-content-bottom .inner-content-text-box ul {
  flex: 1;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.inner-content-bottom .inner-content-text ul li {
  width: 30%;
  border: 1px solid #E7E7E7;;
  margin-right: 10px;
  height: auto;
  padding-bottom: 10px;
}

.inner-content-bottom .inner-content-text ul li:last-child{
  margin-right: 0;
}

.light-box {
  /* background-image: url("src/assets/images/lightbox.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;

}

.image-text{
  padding: 10px 30px 10px 10px;
}

.image-text-inner {
  font-weight: bold;
  color: black;
  padding: 0;
}

.read-more {
  display: flex;
  align-items: center;
}

.arrow-img {
  height: 15px;
  margin-left: 5px;
}

.inner-content .inner-content-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
}

.inner-content-bottom > .inner-content-photo>  h2.more-articles-title {
  font-size:  25px;
  padding: 0;
  font-weight: bold;
}

.inner-content .inner-content-photo ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0px
}

.inner-content .inner-content-photo ul li{
  width: 90%;
  border: 1px solid #E7E7E7;
  margin-right: 10px;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .article-component-wrapper {
    padding: 0 15px 20px 15px;
    margin-top: -30px;
  }

  .top-content h2 {
    margin-left: 0;
    text-align: center;
  }

  .top-content p {
    margin-right: 10px;
  }

  .inner-content-photo {
    padding: 35px 0!important;
  }

  .inner-content-photo > div  {
    width: 100%;
  }

  .inner-content .inner-content-photo ul li {
    width: 100%;
    margin-right: 0;
  }

  .image-text {
    padding: 5px;
  }

  .image-text > .image-text-inner {
    word-break: break-all;
  }

  .inner-content-bottom  {
    flex-flow: column;
  }

  .inner-content-bottom > .inner-content-photo {
    width: 100%;
    margin-bottom: 5px;
  }

  .inner-content-text > .inner-content-text-box > ul {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .inner-content-text > .inner-content-text-box > ul > li {
    width: 70%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}