.p-text {
    padding: 20px;
    text-align: justify;
  }
  /* --------------- Mobile CSS ---*/
  @media screen and (max-width: 480px) {
     .p-text {
        text-align: left;
      } 
  }

  @media screen and (max-width: 991px) {
    .institutional-meet-our > a {
      width: 100%;
    }

    .institutional-meet-our > a > span {
      width: 100%;
    }
  }