<div class="container">
  <div class="row margin-85px-lr sharia-certificate" *ngIf="shariaCerticate">
    <div class="col-md-12 col-sm-12">
      <div
        class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom text-center wow fadeInLeft sharia-certificate-inner"
        *ngFor="let sharia of shariaCerticate.acf.sharia_image"
      > 
      <!-- (quaterly.up_title === 'DOWNLOAD UP'); else elseSelection -->
      <a *ngIf="(sharia.sharia_image_url !== ''); else elseSelection " [href]="'/' + sharia.sharia_image_url">
        <div class="light-green-box">         
            <img [src]="sharia.sharia_image.url" />
            <div class="text-title">{{ sharia.title }}</div>         
        </div>
      </a>
      <ng-template #elseSelection>
        <div (click)="navigateToEasy()" class="light-green-box" fragment="easy-to-invest">         
            <img [src]="sharia.sharia_image.url" />
            <div class="text-title">{{ sharia.title }}</div>         
        </div>
      </ng-template>
      </div>
    </div>
  </div>
</div>
