
<div class="complete-fund-table" style="overflow-y: auto;">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th></th>
      <th *ngIf="isHideConditionOn"></th>
      <th *ngIf="!isHideConditionOn">MONTHLY FACT SHEET</th>
      <th>QUARTERLY REPORTS</th>
      <th *ngIf="isHideConditionOn"></th>
      <th *ngIf="isHideConditionOn">QUARTERLY COMMENTARIES</th> <!-- HERE -->
      <th>ARCHIVE</th>
    </tr>
    <tr>
      <td colspan="6" class="high-light">
        <strong>{{
          isHideConditionOn ? "Equity funds" : "South African funds"
        }}</strong>
      </td>
    </tr>

    <tr
      *ngFor="
        let tdata of isHideConditionOn
          ? tableDate.acf.equity_funds
          : tableDate.acf.south_african_funds;
        let i = index
      "
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }}</td>
      <td *ngIf="isHideConditionOn"></td>

      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.monthly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'south_african_funds', 'monthly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'south_african_funds', 'monthly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'south_african_funds',  'quarterly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'south_african_funds', 'quarterly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="isHideConditionOn"> <!-- HERE -->
        <a [href]="tdata.quarterly_commentary" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'south_african_funds',  'quarterly_commentary')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'south_african_funds', 'quarterly_commentary')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td>
        <a [href]="tdata.archive"><img src="assets/images/arrow_funds.png"/></a>
      </td>
    </tr>
	<tr class="bg-white"> <td colspan=7></td></tr>
    <!--<tr class="bg-white">
      <td></td>
      <td *ngIf="isHideConditionOn"></td>

      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td></td>
    </tr>-->

    <tr>
      <td colspan="6" class="high-light">
        <strong>
          {{
            isHideConditionOn ? "Multi-asset class funds" : "Sharia funds"
          }}</strong
        >
      </td>
    </tr>
    <tr
      *ngFor="
        let tdata of isHideConditionOn
          ? tableDate.acf['multi-asset_class_funds']
          : tableDate.acf.sharia_funds;
        let i = index
      "
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }}</td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.monthly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'sharia_funds',  'monthly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'sharia_funds', 'monthly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'sharia_funds',  'quarterly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'sharia_funds', 'quarterly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="isHideConditionOn"> <!-- HERE -->
        <a [href]="tdata.quarterly_commentary" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'sharia_funds',  'quarterly_commentary')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'sharia_funds', 'quarterly_commentary')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <!-- <td *ngIf="isHideConditionOn"></td> -->
      <td>
        <a [href]="tdata.archive"><img src="assets/images/arrow_funds.png"/></a>
      </td>
    </tr>

   <!-- <tr></tr>
    <tr>
      <td></td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>

      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td></td>
    </tr>-->
	<tr class="bg-white" *ngIf='isHideConditionOn'> <td colspan=7></td></tr>

    <tr *ngIf="isHideConditionOn">
      <td colspan="6" class="high-light">
        <strong>Yield funds</strong>
      </td>
    </tr>
    <tr
      *ngFor="
        let tdata of isHideConditionOn
          ? tableDate.acf.yield_funds
          : tableDate.acf.tax_free_funds;
        let i = index
      "
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }} </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.monthly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'tax_free_funds',  'monthly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'tax_free_funds', 'monthly_fact_sheet' )" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'tax_free_funds',  'quarterly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'tax_free_funds','quarterly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="isHideConditionOn"> <!-- HERE -->
        <a [href]="tdata.quarterly_commentary" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'tax_free_funds',  'quarterly_commentary')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'tax_free_funds', 'quarterly_commentary')" target="_blank">
         <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td>
        <a [href]="tdata.archive"><img src="assets/images/arrow_funds.png"/></a>
      </td>
    </tr>
<tr class="bg-white" *ngIf="isHideConditionOn"> <td colspan=8></td></tr>
    <!--<tr class="bg-white">
      <td></td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="isHideConditionOn"></td>
      <td *ngIf="!isHideConditionOn">
        <img src="assets/images/buttons-new/form_download_b.png" /> full pack
      </td>
      <td></td>
    </tr>-->
    <tr>
      <td *ngIf="!isHideConditionOn" colspan="6" class="high-light">
        <strong>Global Fund</strong>
      </td>
    </tr>

    <tr
      *ngFor="let tdata of tableDate.acf.global_funds; let i = index"
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td *ngIf="!isHideConditionOn">{{ tdata.fund_name }}</td>
      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.monthly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'global_funds',  'monthly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'global_funds','monthly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.quarterly_fact_sheet" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'global_funds',  'quarterly_fact_sheet')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'global_funds', 'quarterly_fact_sheet')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.quarterly_commentary" [ngClass]="visited[makeVisitedKey(tdata.fund_name,'global_funds',  'quarterly_commentary')] ? 'complete-fund-eye-btn visited' : 'complete-fund-eye-btn'" (click)="selectQuarterly(tdata, 'global_funds','quarterly_commentary')" target="_blank">
          <!-- <img src="assets/images/buttons-new/form_view_b.png"/> -->
        </a>
      </td>
      <td *ngIf="!isHideConditionOn">
        <a [href]="tdata.archive"><img src="assets/images/arrow_funds.png"/></a>
      </td>
    </tr>
    <!--<tr *ngIf="!isHideConditionOn">
      <td></td>
      <td><img src="assets/images/buttons-new/form_download_b.png" /> full pack</td>
      <td><img src="assets/images/buttons-new/form_download_b.png" /> full pack</td>
      <td><img src="assets/images/buttons-new/form_download_b.png" /> full pack</td>
      <td></td>
    </tr>-->
	<tr class="bg-white"> <td colspan=6></td></tr>
  </table>
</div>