.p-text {
  padding: 20px;
}
.i-text {
  padding: 20px;
}
.i-text p {
  padding: 10px;
}

.o-text {
  padding: 20px;
}
.o-text p {
  padding: 10px;
}
.active {
  color: red;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .funds-designed-meet {
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
}

@media screen and (max-width: 991px) {
  .common-fund-design-content {
    padding-left: 0;
    padding-right: 0;
  }

  .o-text {
    padding: 0;
  }

  .invest-list-img > li > .content-box {
    margin: 0 auto;
  }
}