/*#chartdiv2 div div svg g g path{
stroke-opacity:1;
stroke-width:2;
stroke:red;}

.amcharts-plot-area {
  stroke-width: 20px;
}*/
#chartdiv2 {
	background-color: rgb(227, 237, 236);
	position: relative;
}
.amcharts-main-div * {
	transform: none !important;
}

.chart-labels {
	position: absolute;
	top: 20px;
	left: 170px;
}

.chart-labels span {
	position: relative;
	font-size: 13px;
}

.chart-labels span:first-of-type {
	margin-right: 70px;
}

.chart-labels span:first-of-type:before {
	position: absolute;
	width: 40px;
	height: 2px;
	background: rgb(182,12,47);
	display: block;
	content: '';
	top: 8.5px;
	left: -45px;
}

.chart-labels span:last-of-type:before {
	position: absolute;
	width: 40px;
	height: 2px;
	background: rgb(106,157,154);
	display: block;
	content: '';
	top: 8.5px;
	left: -45px;
}

@media screen and (max-width: 480px) {
  .chart-labels {
		left: 155px;
		display: flex;
		flex-flow: column;
	}

	.chart-labels span {
		font-size: 11px;
	}

	.chart-labels span:last-of-type {
		text-align: left;
	}
}