.common-meet-our-leaders {
  display: none;
}


@media screen and (max-width: 991px) {
  .common-meet-our-leaders {
    display: block;
    padding: 20px 0;
  }
  
  
  .common-meet-our-leaders > .btn-meet-diverse-team {
    width: 100%;
  }
  
  .common-meet-our-leaders > .btn-meet-diverse-team > span{
    width: 100%;
  }
}